# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# IntelliJ
.idea

# Build artifacts
rsalvador_*.zip
rsalvador_*.tar
rsalvador_*.tgz
*.o
*.so
*.rds

# Python
__pycache__
*.pyc
venv
.DS_Store
