<!DOCTYPE html>
<html lang='en'>
<head> 

   <title style='color:FireBrick'>  webSalvador 0.1</title>

   <link rel='stylesheet' type='text/css' href= {{ url_for('static', filename='zheng_style.css') }} /'>

</head>

   <body>

    <img src="./static/headingFig.gif" alt='Luria' style="float:left;
          padding-left:15px; padding-right:30px"  
           width='245' height='135' class='logo'>

     <h1> <span style='color:#008080'> webSalvador 0.1</span> </h>
     <h2 style='color:FireBrick'> powered by  rSalvador 1.8 </h2> 

   </body>

   <div class="container"> 

      {% block content %}  {% endblock %}

   </div>


<footer style='color:#800000'>
<p> by Qi Zheng, Texas A&M University School of Public Health, January 2021</p>
</html>

