{% extends 'baseFig.html' %}


{% block content %}

   <h3>{% block title %} Lea-Coulson Model: basic estimation{% endblock %}</h3>


<form method="POST">

   <div>
   <label>Estimated Nt:</label>
    <input name="Nt" size='12' value='2.5e7' >
   </div>

   <div>
   <label>Initial m:</label>
    <input name="init_m" size='12' value='0' >
   </div>

    <div>
    <style> textarea{ vertical-align: middle;}</style>
    <label>Mutant counts:</label>
    <textarea name='mutantCount' rows='22' cols='50'>
    </textarea>
    </div>
    <input type="submit" value="Send to rSalvador"></input>

<!------------ Results Output ------------>

   <div>
   <label> Results </label>
   <table border='1'>
   <tr>
    <td> quantity</td>
    <td> point est</td>
    <td> lower limit</td>
    <td> upper limit</td>
   </tr>

   <tr>
    <td style='text-align:center'> m</td>
    <td> {{ est_m }} </td>
    <td> {{ m_low }} </td>
    <td> {{ m_up }}</td>
   </tr>


   <tr>
    <td  style='text-align:center'>  &#956 </td>
    <td> {{ est_mu }} </td>
    <td> {{ mu_low }} </td>
    <td> {{ mu_up }}</td>
   </tr>

   </table>
   </div>

</form>

{% endblock %}
   



