useDynLib(rsalvador)
export(prob.LD)
export(newton.LD)
export(newton.LD.plating)
export(import.text.data, export.text.data)
export(import.excel.data)
export(simu.cultures)
export(prob.LD.plating)
export(log.likelihood.LD)
export(log.likelihood.LD.plating)
export(confint.LD, confint.LD.plating)
export(plot.likelihood.LD,plot.likelihood.LD.plating)
export(prob.Haldane)
export(newton.Haldane)
export(confint.Haldane,simu.Haldane,simu.Kimmel)
export(plot.likelihood.Haldane,log.likelihood.Haldane)
export(simu.Kimmel2,simu.Haldane2)

