useDynLib(rsalvador)
export(prob.LD)
export(newton.LD)
export(newton.LD.plating)
export(import.text.data, export.text.data)
export(import.excel.data)
export(simu.cultures)
export(prob.LD.plating)
export(log.likelihood.LD)
export(log.likelihood.LD.plating)
export(confint.LD, confint.LD.plating)
export(plot.likelihood.LD,plot.likelihood.LD.plating)
export(prob.Haldane)
export(newton.Haldane)
export(confint.Haldane,simu.Haldane,simu.Kimmel)
export(plot.likelihood.Haldane,log.likelihood.Haldane)
export(simu.Kimmel2,simu.Haldane2)
export(compare.LD,simu.Bartlett)
export(LD.score.info,LD.p0.est,jones.median.est)
export(LD.score.info.plating,etaSeq,jones.median.plating,p0.plating)
export(seq.convolute,log.likelihood.MK)
export(prob.MK, newton.MK, confint.MK, plot.likelihood.MK, likely.average)
export(LRT.LD, LRT.LD.plating, LRT.MK)
export(mcmc.MK,mcmc.MK.test,mcmc.LD.plating,mcmc.LD.plating.test)
export(prob.B0, golden.LD.B0, newton.B0, confint.B0)
export(wierdl.est,golden.benchmark.LD)
export(newton.joint.MK, confint.profile.m, confint.profile.w)
export(fisher.MK, fisher.LD.plating)
