attrs==20.3.0
cffi==1.14.4
click==7.1.2
Flask==1.1.2
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.19.4
packaging==20.8
pluggy==0.13.1
py==1.10.0
pycparser==2.20
pyparsing==2.4.7
pytest==6.2.1
pytz==2020.5
rpy2==3.3.6
scipy==1.5.4
toml==0.10.2
tzlocal==2.1
Werkzeug==1.0.1
